services:
  postgres-db:
    image: postgres:16-alpine
    container_name: t8d_sync_server_postgres_db

    env_file:
      - .env

    ports:
      - '5432:5432'

    volumes:
      - ./postgres-data:/var/lib/postgresql/data

    restart: unless-stopped
